<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 등록 승인</title>
    <link rel="stylesheet" href="/css/approve_users.css">
    <script src="/js/approve_users.js" defer></script>
</head>
<body>
<header>
    <h1>회원 등록 승인</h1>
    <button onclick="location.href='/admin'">돌아가기</button>
</header>
<main>
    <table id="user-table">
        <thead>
        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>등급</th>
            <th>로그인 승인</th>
        </tr>
        </thead>
        <tbody>
        <!-- 회원 정보가 여기에 표시됨 -->
        </tbody>
    </table>
</main>
</body>
</html>
